
body {
    font-family: Roboto, sans-serif;
    margin: 0; 
}

.top-half {
    background-color: #1f2937;
    padding: 10px 70px 50px 70px; 

}

.header {
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    margin: 0 35px; 

}

ul {
    list-style: none;
    display: flex; 
    flex-wrap: nowrap;
    font-size: 18px; 
    gap: 15px; 
    
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.contentone{
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 30px; 
    margin: 0 45px; 
    padding-bottom: 30px; 

}

.text-section {
    display: flex; 
    flex-wrap: wrap;
}

h2 {
    font-size: 48px; 
    font-weight: 900;
    margin: 0; 
}

p {
    font-size: 18px;
    font-weight: 300;
}

button {
    background-color: #3882f6;
    color: white; 
    border-radius: 4px; 
    padding: 8px 20px;
    border: none;  
}

a:link {
    text-decoration: none;
    color: white; 
}

a:visited {
    text-decoration: none;
    color: white; 
}

.title {
    font-size: 36px;
    font-weight:900;
    color: #1f2937;
    display: flex; 
    padding: 40px 0; 
    align-items: center;
    justify-content: center;
}

.diagrams {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 40px; 
    gap: 80px; 
    flex-wrap: wrap;

}

.info {
    max-width: 200px; 
}

.sqtext {
    font-size: 18px;
    text-align: center;
}