
body {
    font-family: Roboto, sans-serif;
    margin: 0; 
}

.top-half {
    background-color: #1f2937;
    padding: 10px 70px 50px 70px; 

}

.header {
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    margin: 0 35px; 

}

ul {
    list-style: none;
    display: flex; 
    flex-wrap: nowrap;
    font-size: 18px; 
    gap: 15px; 
    
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.contentone{
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 30px; 
    margin: 0 45px; 
    padding-bottom: 30px; 

}

.text-section {
    display: flex; 
    flex-wrap: wrap;
}

h2 {
    font-size: 48px; 
    font-weight: 900;
    margin: 0; 
}

p {
    font-size: 18px;
    font-weight: 300;
}

.first, 
.second {
    color: white; 
    border-radius: 4px; 
    padding: 8px 25px;
    font-weight: 700; 
}

.first {
    background-color: #3882f6;
    border: none;  
}

a:link {
    text-decoration: none;
    color: white; 
}

a:visited {
    text-decoration: none;
    color: white; 
}

.title {
    font-size: 36px;
    font-weight:900;
    color: #1f2937;
    display: flex; 
    padding: 40px 0; 
    align-items: center;
    justify-content: center;
}

.middle {
    padding-bottom: 80px; 
}

.diagrams {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 80px; 
    gap: 40px; 
    flex-wrap: wrap;

}

.square {
    height: 150px;
    width: 150px; 
    border: 2px blue solid;
    border-radius: 6px; 
    margin-bottom: 10px; 
}

.info {
    max-width: 150px; 
}

.sqtext {
    font-size: 18px;
    text-align: center;
}


.thirdsection {
    background-color: #e5e7eb;
    display: flex; 
    flex-direction: column; 
    padding: 100px 200px; 
}

.quote {
    font-size: 36px;
    font-style: italic; 
    font-weight: 200; 
    padding: 10px 0; 
}

.attribution {
    font-size: 18px; 
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}

.bottom {
    display: flex; 
    padding: 80px 35px; 
    justify-content: center;
    align-items: center;
}

.bluesq {
    background-color: #3882f6;
    height: 100px;
    width: 660px; 
    display: flex;
    border-radius: 6px; 
    justify-content: space-between;
    align-items: center;
    padding: 0 60px; 
}

.boxtext {
    display: flex; 
    flex-direction: column; 
    color: white;
}

.headertext {
    font-size: 18px; 
    font-weight: 900; 
}

.littletext {
    font-size: 14px; 
    font-weight: 200; 
}
.second {
    background-color: #3882f6;
    border: 1px white solid; 
}

.footer {
    background-color: #1f2937;
    color: white; 
    font-size: 12px; 
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 20px; 
}